@import "fix";
$feminasty: #28072D;

body, html{
    width:100%;
    height:100%;
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: $feminasty ;
    color: #FFF;
    padding-top: 53px;
    padding-bottom: 153px;
}
h1, h1, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.logo { 
    max-width:400px;
    height:auto;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.barra {
    bottom: 0;
    left: 0;
    background-color: $feminasty;
    z-index: 999;
    margin: 0;
    padding: 20px;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    p {
        margin: 0;
        color: $feminasty;

        /* para browser */
        @media (max-width: 768px) {
            a {
                font-size: 18px!important;
            }
            font-size: 1.5em;
        }
        /* para dispositivo */
        @media only screen and (max-device-width: 768px) {
            a {
                font-size: 18px!important;
            }
            font-size: 1.5em;
        }
    }
}
.img {
    img {
        max-width: 100%;
        height: auto;
    }
}
p {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-bottom: 2em;
    a {
        background-color: $feminasty!important;
        color: #FFF!important;
        border-color: #FFF!important;
        font-size: 40px!important;
        font-weight: 700!important;
        &:hover {
            background-color: #FFF!important;    
            color: $feminasty!important;
            border-color: $feminasty!important;
        }
    }
    /* para browser */
    @media (max-width: 768px) {
        font-size: 1.5em;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 768px) {
        font-size: 1.5em;
    }
}
